{
	"channel":"«« .Channel »»",
	"attachments": [{
		"mrkdwn_in": ["text","pretext","fields"],
			"color": "#6f42c1",
			"pretext": "Pull request merged by <https://github.com/«« .Actor »»|«« .Actor »»>",
			"title": "«« .Event.pull_request.title »»",
			"title_link": "«« .Event.pull_request.html_url »»",
			"text": "",
			"fields": [
			],
			"footer": "<«« .Event.repository.html_url »»|«« .Event.repository.owner.login »»/«« .Event.repository.name »»>",
			"footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
			"ts": «« AsTimestamp .Event.pull_request.updated_at »»
	}]
}