{
	"channel":"«« .Channel »»",
	"attachments": [{
		"mrkdwn_in": ["text","pretext","fields"],
			"color": "#36a64f",
			"pretext": "Pull request opened by <https://github.com/«« .Actor »»|«« .Actor »»>",
			"title": "«« .Event.pull_request.title »»",
			"title_link": "«« .Event.pull_request.html_url »»",
			"text": "",
			"fields": [
					{
							"title": "",
							"value": "«« SlackMarkdown .Event.pull_request.body »»",
							"short": false
					},
					{
							"title": "Reviewers",
							"value":"««range .Event.pull_request.requested_teams »»<««.html_url»»|@««$.Event.organization.login»»/««.slug»»>\n««end -»»
							««- range .Event.pull_request.requested_reviewers »»<https://github.com/«« .login »»|«« .login »»>\n««end»»",
							"short": true
					},
					{
							"title": "Labels",
							"value": "«« range $i, $e := .Event.pull_request.labels »»««if $i»»\n««end»»«« $e.name »»««end»»",
							"short": true
					}
			],
			"footer": "<«« .Event.repository.html_url »»|«« .Event.repository.owner.login »»/«« .Event.repository.name »»>",
			"footer_icon": "https://platform.slack-edge.com/img/default_application_icon.png",
			"ts": «« AsTimestamp .Event.pull_request.updated_at »»
	}]
}